#header {
  display: flex;
  display: -webdit-flex;
  background-color: black;
  cursor: w-resize;
}


#mainBar {
  display: flex;
  display: -webdit-flex;
  justify-content: space-around;
  text-align: center;
}

#mobileBar {
  display: flex;
  display: -webdit-flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;

}

.head {
  width: 100vw;
  padding: 0px;
  height: auto;
  flex-flow: row wrap;
}

.pager__item {
  padding: 0 12px;
  display: block;
  border: 1px solid red;
}

.head-foot {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 80px;
  z-index: 9;
  background: white;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(252, 252, 252, 0), black);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(252, 252, 252, 0), black);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(252, 252, 252, 0), black);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(252, 252, 252, 0), black);
  /* Standard syntax */
}

.topbar {
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 9999;
  position: fixed;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(black, rgba(252, 252, 252, 0));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, rgba(252, 252, 252, 0));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, rgba(252, 252, 252, 0));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, rgba(252, 252, 252, 0));
  /* Standard syntax */
}


.font-bar {
  font-size: 20px;
  font-style: normal;
  text-align: center;
  color: white;
  margin-top: 20px;
  flex-grow: 1;
  /*font-family: 'Bellefair', serif;*/
  font-family: 'Audiowide', cursive;
  /*font-family: 'Share', cursive;*/
  font-family: 'Kumar One Outline', cursive;
  /*font-family: 'Press Start 2P', cursive; -- font 8 bit*/
  font-family: 'Fredericka the Great', cursive;
}

.font-bar:hover {
  text-decoration: none;
  ;
  animation: fadeFont 0.5s;
  -webkit-animation: fadeFont 0.5s;
  color: red;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes fadeFont {
  from {
    color: white;
  }
  to {
    color: red;
  }
}


/* Standard syntax */

@keyframes fadeFont {
  from {
    color: white;
  }
  to {
    color: red;
  }
}

.font-bar-m{
  font-size: 15px;
}
.m-menu-txt {
  border: solid rgb(191, 102, 102) 1px;
  width: 70px;
  height: 30px;

}
