.exit-btn:active {
  animation: exit 5s;
  -webkit-animation: exit 5s;
}


#mobileBar {
  justify-content: center;
  width: 100%;
  position: fixed;
  right: 0px;
  background-color: black;
  min-height: 100vh;
  top: 0px;
}

#mBarExit {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 2px solid white;
  padding: 5px;
background-color: rgba(255, 255, 255, 0.35);
  border-radius: 100px;
  font-size: 7px;
  color: red;
  cursor:pointer;
}

#mMenu {
  display: flex;
  justify-content: flex-end;
  float: right;
}

#menu-toggle {
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, rgba(255, 0, 0, 0));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, rgba(255, 0, 0, 0));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, rgba(255, 0, 0, 0));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, rgba(255, 0, 0, 0));
  /* Standard syntax */
  border: solid white 1px;
  padding:5px;
}

@-webkit-keyframes testOpen {
  from {
    right: -200px;
  }
  to {
    right: 0px;
  }
}

@keyframes testOpen {
  from {
    right: -200px;
  }
  to {
    right: 0px;
  }
}



@-webkit-keyframes testExit {
  from {
    right: 0px;
  }
  to {
    right: -200px;
  }
}

@keyframes testExit {
  from {
    right: 0px;
  }
  to {
    right: -200px;
  }
}
